:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #403f3d;

  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;

  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-body);
  color: var(--text-dark);
  font-variation-settings: "slnt" 0;
}

.fs-heading-1 {
  font-size: 72px;
  line-height: 105%;
  font-weight: 600;
}

.fs-heading-2 {
  font-size: 60px;
  line-height: 125%;
  font-weight: 600;
}

.fs-heading-3 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

.fs-heading-1 .accent,
.fs-heading-2 .accent {
  font-variation-settings: "slnt" -10;
}

.fs-medium {
  font-size: 16px;
  line-height: 150%;
}

.fs-caption {
  font-size: 10px;
  line-height: 140%;
  font-weight: 600;
}

.fs-link-btn {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  margin: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.header__menu-btn {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.hero {
  margin-bottom: 100px;
}

.hero__wrapper {
  padding: 100px;
  background-image: url("../assets/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.hero__body {
  display: flex;
  max-width: 530px;
  flex-direction: column;
  gap: 40px;
}

.hero__title,
.hero__text {
  color: var(--text-light);
}

.hero__title .accent {
  color: var(--text-accent);
}

.hero__menu-btn {
  width: 200px;
  height: 64px;
  background-color: var(--background-body);
  outline: none;
  border: none;
  border-radius: 100px;
}

.slider {
  margin-bottom: 100px;
}

.slider__title {
  text-align: center;
  margin-bottom: 40px;
}

.slider__title .accent {
  color: var(--text-accent);
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 40px 0;
}

.slider__row {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.slide__img {
  width: 100%;
}

.slide__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider__left-btn,
.slider__right-btn {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: none;
}

.slider__pagination {
  display: flex;
  grid-column: span 3;
  justify-self: center;
  gap: 12px;
  list-style: none;
}

.slider__pagination-bullet {
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  border-radius: 100px;
}

.slider__pagination-bullet.active {
  background-color: var(--border-dark);
}

.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__title .accent {
  color: var(--text-accent);
}

.about__images-container {
  display: flex;
  gap: 40px;
}

.about__images-column {
  display: flex;
  width: calc((100% - 40px) / 2);
  flex-direction: column;
  gap: 40px;
}

.about__image {
  height: 590px;
  border-radius: 20px;
  object-fit: none;
  object-position: center;
}

.about__images-column:nth-child(1) .about__image:nth-child(2),
.about__images-column:nth-child(2) .about__image:nth-child(1) {
  height: 430px;
}

.mobile-app {
  margin-bottom: 100px;
}

.mobile-app__container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__title .accent {
  color: var(--text-accent);
}

.mobile-app__btns {
  display: flex;
  gap: 20px;
}

.mobile-app__app-store-btn,
.mobile-app__google-play-btn {
  display: flex;
  width: 200px;
  height: 64px;
  padding: 0 20px;
  align-items: center;
  justify-content: start;
  gap: 8px;
  outline: none;
  background: none;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
}

.app-store-btn__text,
.google-play-btn__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.mobile-app__offer,
.mobile-app__img {
  width: calc((100% - 100px) / 2);
}

.footer {
  margin-bottom: 40px;
  color: var(--text-light);
}

.footer__wrapper {
  display: flex;
  padding: 100px;
  align-items: center;
  gap: 100px;
  background-color: var(--background-container);
  border-radius: 40px;
}

.footer__offer {
  display: flex;
  flex-direction: column;
  width: calc((100% - 100px) / 2);
  gap: 40px;
}

.footer__title .accent {
  color: var(--text-accent);
}

.footer__socials {
  display: flex;
  gap: 12px;
}

.footer__social-btn {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: none;
}

.footer__contacts-info {
  display: flex;
  width: calc((100% - 100px) / 2);
  flex-direction: column;
  gap: 40px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.footer__contacts li {
  display: flex;
  padding-bottom: 4px;
  align-items: center;
  gap: 8px;
}

.menu {
  margin-bottom: 100px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu__title {
  max-width: 800px;
  text-align: center;
}

.menu__title .accent {
  color: var(--text-accent);
}

.menu__filter {
  display: flex;
  gap: 16px;
}

.menu__filter-btn {
  display: flex;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  align-items: center;
  outline: none;
  border: 1px var(--border-light) solid;
  border-radius: 100px;
  background: none;
}

.menu__filter-icon {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--border-light);
}

.menu__filter-btn.active {
  color: var(--text-light);
  border: none;
  background-color: var(--background-container);
}

.menu__filter-btn.active .menu__filter-icon {
  background-color: var(--background-body);
}

.menu__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.menu__item {
  display: grid;
  width: 310px;
  grid-template-rows: auto 1fr;
  border: 1px var(--border-light) solid;
  border-radius: 40px;
  overflow: hidden;
}

.item-menu__img {
  width: 100%;
  object-fit: none;
  border-radius: 40px;
}

.item-menu__text {
  display: grid;
  padding: 20px;
  grid-template-rows: auto auto 1fr;
  gap: 12px;
}

.item-menu__price {
  align-self: end;
}
