:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);

  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;

  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-body);
  color: var(--text-dark);
}

.fs-heading-1 {
  font-size: 72px;
  line-height: 105%;
  font-weight: 600;
}

.fs-heading-2 {
  font-size: 60px;
  line-height: 125%;
  font-weight: 600;
}

.fs-heading-3 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

.fs-heading-1 .accent,
.fs-heading-2 .accent {
  font-style: italic;
}

.fs-medium {
  font-size: 16px;
  line-height: 150%;
}

.fs-caption {
  font-size: 10px;
  line-height: 140%;
  font-weight: 600;
}

.fs-link-btn {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

.fs-burger-link {
  font-size: 32px;
  line-height: 125%;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  margin: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__burger-menu {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: var(--background-body);
  z-index: 2;
  transform: translateX(100%);
  transition: ease-in-out 0.15s;
}

body:has(.header__burger-menu.active) {
  overflow-y: hidden;
}

.header__burger-menu.active {
  transform: translateX(0);
}

.header__burger-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.nav-item,
.header__menu-btn {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
}

.nav-item::after,
.header__menu-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  opacity: 0;
  background-color: var(--text-dark);
  transition: ease-in-out 0.15s;
}

.nav-item:hover::after,
.header__menu-btn:hover::after,
.header__menu-btn.active::after {
  width: 100%;
  opacity: 1;
}

.header__menu-btn {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.header__menu-btn.fs-burger-link img {
  width: 40px;
  height: 40px;
}

.header__burger-menu-btn {
  position: relative;
  display: none;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  background: none;
  cursor: pointer;
}

.header__burger-menu-btn::before,
.header__burger-menu-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 18px;
  height: 1.5px;
  border-radius: 100px;
  background-color: var(--text-dark);
  transition: ease-in-out 0.15s;
}

.header__burger-menu-btn::before {
  transform: translate(-50%, calc(-50% + 4px));
}

.header__burger-menu-btn::after {
  transform: translate(-50%, calc(-50% - 4px));
}

.header__container:has(.header__burger-menu.active)
  .header__burger-menu-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__container:has(.header__burger-menu.active)
  .header__burger-menu-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hero {
  margin-bottom: 100px;
}

.hero__wrapper {
  position: relative;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero__body {
  display: flex;
  max-width: 530px;
  flex-direction: column;
  gap: 40px;
}

.hero__title,
.hero__text {
  color: var(--text-light);
}

.hero__title .accent {
  color: var(--text-accent);
}

.hero__menu-btn {
  display: flex;
  width: 200px;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: var(--text-dark);
  background-color: var(--background-body);
  outline: none;
  border: none;
  border-radius: 100px;
}

.hero__menu-btn img {
  width: 0px;
  height: 20px;
  object-fit: cover;
  object-position: -20px;
  opacity: 0;
  transition: ease-in-out 0.15s;
}

.hero__menu-btn:hover img {
  object-position: 0;
  opacity: 1;
  width: 20px;
}

.slider {
  margin-bottom: 100px;
}

.slider__title {
  text-align: center;
  margin-bottom: 40px;
}

.slider__title .accent {
  color: var(--text-accent);
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 40px 0;
}

.slider__row {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.slide__img {
  width: 100%;
}

.slide__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider__left-btn,
.slider__right-btn {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  background: none;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.slider__left-btn path,
.slider__right-btn path {
  transition: ease-in-out 0.15s;
}

.slider__left-btn:hover,
.slider__right-btn:hover {
  background-color: var(--background-container);
}

.slider__left-btn:hover path,
.slider__right-btn:hover path {
  stroke: var(--text-light);
}

.slider__pagination {
  display: flex;
  grid-column: span 3;
  justify-self: center;
  gap: 12px;
  list-style: none;
}

.slider__pagination-bullet {
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  border-radius: 100px;
}

.slider__pagination-bullet.active {
  background-color: var(--border-dark);
}

.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__title .accent {
  color: var(--text-accent);
}

.about__images-container {
  display: flex;
  gap: 40px;
}

.about__images-column {
  display: flex;
  width: calc((100% - 40px) / 2);
  flex-direction: column;
  gap: 40px;
}

.about__image-wrapper {
  position: relative;
  border-radius: 20px;
  height: 590px;
  overflow: hidden;
}

.about__image-wrapper.small {
  height: 430px;
}

.about__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(1.1);
  object-position: center;
  transition: ease-in-out 0.15s;
}

.about__image:hover {
  transform: translate(-50%, -50%) scale(1);
}

.mobile-app {
  margin-bottom: 100px;
}

.mobile-app__container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__title .accent {
  color: var(--text-accent);
}

.mobile-app__btns {
  display: flex;
  gap: 20px;
}

.mobile-app__app-store-btn,
.mobile-app__google-play-btn {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  justify-content: start;
  gap: 8px;
  outline: none;
  background: none;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.app-store-btn__logo path,
.google-play-btn__logo path {
  transition: ease-in-out 0.15s;
}

.mobile-app__app-store-btn:hover,
.mobile-app__google-play-btn:hover {
  color: var(--text-light);
  background-color: var(--background-container);
}

.mobile-app__app-store-btn:hover .app-store-btn__logo path,
.mobile-app__google-play-btn:hover .google-play-btn__logo path {
  fill: var(--text-light);
}

.app-store-btn__text,
.google-play-btn__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.mobile-app__offer,
.mobile-app__img {
  width: calc((100% - 100px) / 2);
}

.footer {
  margin-bottom: 40px;
  color: var(--text-light);
}

.footer__wrapper {
  display: flex;
  padding: 100px;
  align-items: center;
  gap: 100px;
  background-color: var(--background-container);
  border-radius: 40px;
}

.footer__offer {
  display: flex;
  flex-direction: column;
  width: calc((100% - 100px) / 2);
  gap: 40px;
}

.footer__title .accent {
  color: var(--text-accent);
}

.footer__socials {
  display: flex;
  gap: 12px;
}

.footer__social-btn {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--border-light);
  border-radius: 100px;
  background: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.footer__social-btn path {
  transition: ease-in-out 0.15s;
}

.footer__social-btn:hover {
  background-color: var(--background-body);
  border: 1px solid var(--background-body);
}

.footer__social-btn:hover path {
  stroke: var(--text-dark);
}

.footer__contacts-info {
  display: flex;
  width: calc((100% - 100px) / 2);
  flex-direction: column;
  gap: 40px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.footer__contacts a {
  text-decoration: none;
  color: var(--text-light);
}

.footer__contacts li {
  position: relative;
  width: fit-content;
  display: flex;
  padding-bottom: 4px;
  align-items: center;
  gap: 8px;
}

.footer__contacts li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  opacity: 0;
  background-color: var(--text-light);
  transition: ease-in-out 0.15s;
}

.footer__contacts a:hover li::after {
  width: 100%;
  opacity: 1;
}

.menu {
  margin-bottom: 100px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu__title {
  max-width: 800px;
  text-align: center;
}

.menu__title .accent {
  color: var(--text-accent);
}

.menu__filter {
  display: flex;
  gap: 16px;
}

.menu__btn {
  display: flex;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  align-items: center;
  outline: none;
  border: 1px var(--border-light) solid;
  border-radius: 100px;
  background: none;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.menu__btn-icon {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: var(--text-dark);
  background-color: var(--border-light);
  transition: ease-in-out 0.15s;
}

.menu__btn:hover,
.menu__btn.active {
  color: var(--text-light);
  background-color: var(--background-container);
  border: 1px var(--border-dark) solid;
}

.menu__btn:hover .menu__btn-icon,
.menu__btn.active .menu__btn-icon {
  background-color: var(--background-body);
}

.menu__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 310px);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 40px;
}

.menu__item {
  display: grid;
  width: 310px;
  grid-template-rows: auto 1fr;
  border: 1px var(--border-light) solid;
  border-radius: 40px;
  overflow: hidden;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.item-menu__img-wrapper {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.item-menu__img {
  width: 310px;
  transform: scale(1.1);
  border-radius: 40px;
  transition: ease-in-out 0.15s;
}

.menu__item:hover .item-menu__img {
  transform: scale(1);
}

.item-menu__text {
  display: grid;
  padding: 20px;
  grid-template-rows: auto auto 1fr;
  gap: 12px;
}

.item-menu__price {
  align-self: end;
}

.menu__modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transition: ease-in-out 0.15s;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  z-index: 2;
}

.modal__wrapper {
  display: flex;
  max-width: 800px;
  padding: 16px;
  align-items: flex-start;
  gap: 20px;
  background-color: var(--background-body);
  border-radius: 40px;
  transform: translateY(50%);
  z-index: 3;
  transition: ease-in-out 0.15s;
}

.menu__modal.active {
  opacity: 1;
  z-index: 2;
}

.menu__modal.active .modal__wrapper {
  transform: translateY(0);
}

body:has(.menu__modal.active) {
  overflow-y: hidden;
}

.modal__img {
  width: min(310px, 50%);
  object-fit: none;
  border-radius: 40px;
}

.modal__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__offer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__inputs-wrapper,
.modal__inputs {
  display: flex;
  gap: 8px;
}

.modal__inputs {
  flex-wrap: wrap;
}

.modal__inputs-wrapper {
  flex-direction: column;
}

.modal__size-btn .menu__btn-icon {
  text-transform: capitalize;
}

.modal__price {
  display: flex;
  justify-content: space-between;
}

.modal__alert {
  display: flex;
  padding: 12px 0;
  align-items: start;
  gap: 8px;
  border-top: 1px solid var(--border-light);
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__load-btn {
  display: none;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__burger-menu-btn {
    display: flex;
  }

  .header__nav,
  .header__menu-btn.fs-link-btn {
    display: none;
  }

  .nav-item:hover::after,
  .header__menu-btn:not(.active):hover::after {
    width: 0;
    opacity: 0;
  }

  .hero__wrapper {
    padding: 100px 60px;
  }

  .hero__menu-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: 0;
    opacity: 1;
  }

  .slider__left-btn:hover,
  .slider__right-btn:hover {
    background-color: unset;
  }

  .slider__left-btn:hover path,
  .slider__right-btn:hover path {
    stroke: var(--text-dark);
  }

  .about__images-container {
    flex-direction: column;
  }

  .about__images-column {
    width: 100%;
  }

  .about__image {
    top: 0;
    left: 0;
    transform: unset;
    object-fit: none;
  }

  .about__image:hover {
    transform: unset;
  }

  .about__image-wrapper.small {
    display: none;
  }

  .mobile-app__container {
    flex-direction: column;
  }

  .mobile-app__offer {
    width: 100%;
  }

  .mobile-app__img {
    width: unset;
    max-width: 100%;
  }

  .mobile-app__app-store-btn:hover,
  .mobile-app__google-play-btn:hover {
    color: var(--text-dark);
    background-color: unset;
  }

  .mobile-app__app-store-btn:hover .app-store-btn__logo path,
  .mobile-app__google-play-btn:hover .google-play-btn__logo path {
    fill: var(--text-dark);
  }

  .footer__wrapper {
    padding: 100px 60px;
    flex-direction: column;
  }

  .footer__offer,
  .footer__contacts-info {
    width: 100%;
  }

  .footer__social-btn:hover {
    background-color: unset;
    border: 1px solid var(--border-light);
  }

  .footer__social-btn:hover path {
    stroke: var(--text-light);
  }

  .footer__contacts a:hover li::after {
    width: 0;
    opacity: 0;
  }

  .menu__load-btn {
    display: flex;
  }

  .menu__item:hover .item-menu__img {
    transform: scale(1.1);
  }

  .menu__btn:not(.active):hover {
    color: var(--text-dark);
    background-color: unset;
    border: 1px var(--border-light) solid;
  }

  .menu__btn:not(.active):hover .menu__btn-icon {
    background-color: var(--border-light);
  }
}

@media screen and (max-width: 526px) {
  .fs-heading-1 {
    font-size: 42px;
    line-height: 115%;
    font-weight: 600;
  }

  .fs-heading-2 {
    font-size: 32px;
    line-height: 125%;
    font-weight: 600;
  }

  .container {
    padding: 0 16px;
  }

  .hero__wrapper {
    padding: 60px 16px;
  }

  .slider__wrapper {
    grid-template-columns: 1fr;
  }

  .slider__left-btn,
  .slider__right-btn {
    display: none;
  }

  .mobile-app__container {
    gap: 40px;
  }

  .mobile-app__btns {
    flex-direction: column;
  }

  .footer__wrapper {
    padding: 60px 16px;
    gap: 40px;
  }

  .menu__filter {
    gap: 8px;
  }

  .menu__modal {
    padding: 0 16px;
  }

  .modal__img {
    display: none;
  }
}
